*{
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}
/*START NAV*/
nav{
    width: 100%;
    height: 70px;
    background-color: rgba(65, 17, 3, 0.726);
    position: sticky;
    top: 0;
    

}
.logo{
    float: left;
    margin:3px 2px;
}
nav ul{
    list-style-type: none;
    float: right;
    font-family: tahoma;
    font-size: 20px
}
nav ul a{
        text-decoration: none;
    
}
nav ul a li{
        display: inline-block;
        color: burlywood;
        margin: 0px;
        padding: 23px 30px;

}
nav ul a li:hover{
        color:rgb(221, 126, 38);
        
}
nav ul a li:active{
        color:rgb(17, 94, 33);
        background-color: rgb(221, 126, 38);
}
/*END NAV*/

/*START MAIN*/
main{
    height: 950px;
    width: 100%;
    background-color: burlywood;
    background-image: url('../img/van.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.heroText{
    width: 700px;
    height:auto;
    background-color: rgba(65, 17, 3, 0.726);
    text-align: center;
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.329);
    float: right;
    position: relative;
    right: 15%;
    top: 50%;
    border-radius: 30px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.329);
   
}
button{
    background-color: rgb(221, 126, 38);
    border-radius: 60px;
    border-color: rgb(17, 94, 33);
    width: 100px;
    height: 30px;
}
/*END MAIN*/

/*START FOOTER*/
footer {
    width: 100%;
    height: px;
    background-color: rgb(221, 126, 38);  
}
footer ul{
    list-style-type: none;       
}
footer ul li{
    display: inline-block
}


/*END FOOTER*/

/*START ABOUT*/
p{
    font-size: 20px
}

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    gap: 10px;
    max-width: 350px;
    margin: 0 auto;
    padding: 10px;
    position: static;
  }
  
  .gallery img {
    width: 50%;
    max-width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }

/*END ABOUT*/

/*START CONTACT*/
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgba(65, 17, 3, 0.918);
    color: burlywood;
    font-family: Tahoma;
    font-size: 16px;
  }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid rgb(17, 94, 33);
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color:  rgba(65, 17, 3, 0.918);
    border: 1px solid burlywood;
    color: #ffffff;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color:  rgb(221, 126, 38);
    border-color: rgb(17, 94, 33);
    min-width: 300px;
    border-radius: 30px;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }
  a{
    color:rgb(221, 126, 38);
  }

/*END CONTACT*/

